# Baseline - Decision Support System for Health Insurance

## Import Libraries

In [113]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

## Import Data

In [114]:
df = pd.read_csv('../Project/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Understand Data

In [115]:
df.shape

(1338, 7)

In [116]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

# ...

#

# Data Preprocessing

# ...

#

In [117]:
##Converting objects labels into categorical
df[['sex', 'smoker', 'region']] = df[['sex', 'smoker', 'region']].astype('category')
df.dtypes

age            int64
sex         category
bmi          float64
children       int64
smoker      category
region      category
charges      float64
dtype: object

In [118]:
##Converting category labels into numerical using LabelEncoder
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
label.fit(df.sex.drop_duplicates())
df.sex = label.transform(df.sex)
label.fit(df.smoker.drop_duplicates())
df.smoker = label.transform(df.smoker)
label.fit(df.region.drop_duplicates())
df.region = label.transform(df.region)
df.dtypes

age           int64
sex           int32
bmi         float64
children      int64
smoker        int32
region        int32
charges     float64
dtype: object

# ...

## Exploratory Data Analysis

# ...

#

# Model Building

In [127]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [128]:
x = df.drop('charges', axis = 1)
y = df['charges']
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.3, random_state=101)

In [130]:
scale= StandardScaler()
scale.fit(x_train)
x_train= scale.transform(x_train)
x_test= scale.transform(x_test)

## Linear Regression

In [135]:
linearReg = LinearRegression()
linearReg.fit(x_train, y_train)

LinearRegression()

In [136]:
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [137]:
y_pred = linearReg.predict(X_test)
y_pred = pd.DataFrame(y_pred)
meanAbsoluteError= metrics.mean_absolute_error(y_test, y_pred)
meanSquareError = metrics.mean_squared_error(y_test, y_pred)
rootMeanSquareError =np.sqrt(meanSquareError)
pd.DataFrame([meanAbsoluteError, meanSquareError, rootMeanSquareError], index=['meanAbsoluteError', 'meanSquareError', 'rootMeanSquareError'], columns=['Metrics'])

                          Metrics
meanAbsoluteError    2.050415e+05
meanSquareError      4.431407e+10
rootMeanSquareError  2.105091e+05

In [140]:
print(linearReg.intercept_)
print(linearReg.coef_)
print(linearReg.score(x_test, y_test))

13463.722554539529
[3381.87452209   32.57376286 2236.97326776  594.42725466 9660.36255796
 -373.9007914 ]
0.7613126015198816

In [139]:
r2_score(y_test, linearReg.predict(x_test))

0.7613126015198816